* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a, button {
    cursor: pointer;
}

@keyframes pan {
    100% {
        background-position: 15% 50%;
    }
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(./wave-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

@media (width >= 500px) {
    body {
        padding: 0;
    }
}

.login-card {
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
}