body {
    margin: 200px auto;
    text-align: center;
    background-color: aqua;
}

.btn-1 button {
    border-radius: 0px;
}
.btn-2 button {
    border-radius: 20px;
}
.btn-3 button {
    border-radius: 20px 10px;
}
.btn-4 button {
    border-radius: 20px 40px;
}