h1 {
    font-size: 1000;
}

h2 {
    font-size: 1000;
}

strong {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: larger;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    text-align: center;
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(event) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid midnightblue;
}